.text-password-forget{
    font-size:15px;
}
#pass-forget{
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn-sendEmail{
   color:white;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    border-radius:25px;
    padding: 0 10px;
    width: 33% !important;
    height: 35px;
    margin-left: 33% !important;
    font-family:'Poppins:600', sans-serif;
    position:relative;
    top:15px ;
    font-size:14px;
    font-weight: bold;

}

 .btn-sendEmail:hover{
    color:blueviolet;
 
 }
 
.input-text{
    height: 2rem!important;
   
 
 }

 .input-text:focus {
    border-bottom: 1px solid blueviolet!important;
    
  }
  
  .error-message-reset-pass{
  position: relative;
  top:30px;
  font-size:12px;
  
  }
  
  .option-on-password-reset{
  font-size:12px;
  }
  .password-forget-card{
    padding: 22px 55px 6px 55px !important;
    border-radius:8px;
      position: relative;
      top:82px;
  
  }