.font-nav{
font-weight: bold;
font-size:13px;
letter-spacing: 1px;
margin-right: 20px;

}

.font-nav-mobile{
    font-weight: bold;
    font-size:13px;
    letter-spacing: 1px;
    margin-left:20px;
   
    
    }

.font-nav:hover, .font-nav-logo:hover{
    color:#b621fe !important;
}


.font-nav-logo{
    font-weight: bold;
    font-size:23px;
    letter-spacing: .5px;
    margin-left:25px;
}

.hamburguer-menu{
    color:#b621fe ;
}

.photo-profile-on-side-nav{
   width: 100px;
height: 100px;
position:relative;
top:40px;
}
.user-name-on-side-nav{

    position:relative;
    top:40px;
}

.options-on-side-nav{
    position:relative;
    top:80px;

}
.sign-out-mobile{
position:relative;
top:55px;

}
/* border-radius: 50%; */