.btn-changePassword{

    border:2px solid #b621fe ;
    padding: 0 10px;
    border-radius:25px;
    color:#b621fe ;
    letter-spacing: .5px;
    box-shadow:none;
    -webkit-box-shadow: none;
    font-weight: bold;
   


}
.btn-changePassword.btn-small[disabled]{

    background-color:white!important;
    color:#1fd1f9 !important;
    border:2px solid #1fd1f9;
}
.btn-changePassword:hover{
    color:blueviolet;
 
 }
 .change-password-text{
 font-weight: bold;
 font-size:16.5px;

 }