.signUp-card{

   padding: 22px 55px 6px 55px !important;
   border-radius:10px !important;

}
.create-acount{
   width: 100%;
   display: flex;
   justify-content: center;
}

.btn-signUp{
   background-color: #1fd1f9 ;
   background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%) ;
   border-radius:25px;
   padding: 0 20px;
   width: 100%;
   height: 50px;
   margin-bottom:25px!important;
   position:relative;
   top:5px !important;
   font-size:15px;
   font-weight: bold;
}

.btn-signUp:hover{
   color:blueviolet;
   color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
   color: -o-linear-gradient(left, #21d4fd, #b721ff);
   color: -moz-linear-gradient(left, #21d4fd, #b721ff);
   color: linear-gradient(left, #21d4fd, #b721ff);

}
.header-singUp{

   color:#333333;
   font-size:30px;
   line-height: 1.2;
   font-weight: bold;
}
.input-password,.input-text{
   height: 4rem!important;
   font-size:14px !important;
}
.input-password:focus  {
   box-shadow: 0 2px 0 0 blueviolet !important;
 }
.input-text:focus {
   border-bottom: 2px solid blueviolet!important ;
   
 }
